.page {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.sidePanels {
  display: flex;
  justify-content: space-between;
}
