.about {
  display: flex;
  flex-direction: column;
  width: 720px;
  color: white;
  margin: 180px 0 0;
  padding: 0;
  align-items: center;
}

.about__label {
  height: 72px;
  width: auto;
  margin: 40px 0 20px;
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.about__info {
  align-self: flex-start;
}

@media screen and (max-width: 768px) {
  .about {
    max-width: 360px;
    margin: 120px 0 0;
  }
}

@media screen and (max-width: 360px) {
  .about {
    max-width: 240px;
    margin: 240px 0 0;
  }

  .about__title {
    text-align: center;
  }
}
