.header {
  display: flex;
  justify-content: space-around;
  max-height: 98px;
  width: 100%;
  margin: 0;
  padding: 20px 20px 40px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: black;
}

.header__left,
.header__center,
.header__right {
  display: flex;
  gap: 20px;
}

.header__left_logo {
  margin: 5px 5px 5px 0;
  width: 44px;
  height: 48px;
  background-image: url(../../assets/logo_upright.png);
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.header__left_logo:hover {
  background-image: url(../../assets/logo_upright_close.png);
}

.header__about-label {
  width: 98px;
  height: 24px;
  margin: 20px 0 0;
  opacity: 1;
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.header__about-label:hover {
  opacity: 0.6;
}

.header__center {
  display: flex;
  flex-direction: column;
  width: 178px;
  height: 24px;
  margin: 20px 0 0;
  padding: 0 auto 0;
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.header__center_name {
  transform: scale(2);
}

.header__center_banner {
  transform: scale(2);
}

.header__right {
  margin: 25px 50px 0 0;
  opacity: 1;
  transform: scale(2);
}

.header__right img:hover {
  opacity: 0.6;
}
