.lightbyte {
  display: flex;
  flex-direction: column;
  width: 720px;
  color: white;
  margin: 180px 0 0;
  padding: 0;
  align-items: center;
}

.lightbyte__label {
  height: 72px;
  width: auto;
  margin: 40px 0;
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.lightbyte__title {
  align-self: center;
}

.lightbyte__info {
  align-self: flex-start;
}

.red {
  color: #cc0e13;
}

.yellow {
  color: #ffd500;
}

.blue {
  color: #69ccef;
}
