.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 98px;
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;
}

.footer__icon {
  width: 48px;
  height: 68px;
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.footer__name {
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}
