.famlet {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
}

.famlet__label {
  transform: scale(6);
  margin: 60px 0;
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  max-width: 100%;
  height: auto;
  align-self: center;
}

.famlet__title {
  align-self: center;
}

.famlet__info {
  align-self: flex-start;
  margin: 0;
}
